@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-main: #ffffff;
  --bg-two: #f0f0f0;
  --color-main: #00aeff;
  --color-text: #000;
}

/*
    --bg-main: #262837;
    --bg-two: #1f1d2b;
    --color-main: #c70039;
*/
